%reset{
  padding: 0;
  margin: 0;
  border: 0;
}
%center{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
%clear{
  content: '';
  display: block;
  clear: both;
}
html,body{
  overflow-x: hidden!important;
}
%zhanman{
  width: 100%;
  height: 100%;
}
ul,li{
  list-style: none;
  display: block;
}
html{
  width: 100%!important;
}
body{
  background: url(../images/background.png);
  width: 100%!important;
}
body,ul,li,a,span,div,h1,h2,h3,h4,h5,h6,strong{
  @extend %reset;
}
a,span{
  display: block;
}
a,a:hover{
  text-decoration: none;
}
input{
  border: none;
  outline: none;
}
img{
  height: 100%;
}

@mixin font-generator($name,$font-name){
  $font-path : '../fonts/';
  @font-face{
    font-family: $name;
    src:
    local($font-name),
    url($font-path + $font-name+'.woff2')format('woff2'),
  }
}
@include font-generator('font bold','0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8');
@include font-generator('font normal','ATKpv8nLYAKUYexo8iqqrg');
@include font-generator('font thin','g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w');
@include font-generator('font xieti','lILlYDvubYemzYzN7GbLkOgdm0LZdjqr5-oayXSOefg');
@include font-generator('font exthin','UyYrYy3ltEffJV9QueSi4UU-p1xzoRgkupcXIqgYFBc (1)');

@keyframes drop{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes index {
  0%{
    transform: scale(0,0);
    opacity: 0;
  }
  100%{
    transform: scale(1,1);
    opacity: 1;
  }
}

@keyframes shanshuo{
  0%{
    opacity: 1;
  }
  20%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes xuanzhuan{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes xuanzhuan1{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-360deg);
  }
}
#section1{
  h1,h2{
    text-align: center;
    color: #00C6FF;
    font-weight: 300;
  }
  h2{
    font-family: "font normal";
    font-size: 70px;
    line-height: 70px;
    @media screen and(max-width: 735px){
      font-size: 40px;
    }
  }
  h1{
    font-family: "font bold";
    font-size: 120px;
    line-height: 180px;
    @media screen and(max-width: 735px){
      font-size: 100px;
    }
  }
  .my-pic{
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 300px;
    right: 7%;
    overflow: hidden;
    border-radius: 50%;
    transition: all .4s ease;
    @media screen and(max-width: 735px){
      bottom: 10px;
      right: 50%;
      width: 190px;
      height: 190px;
      transform: translateX(50%);
    }
  }
}
#section1.active{
  h2{
    animation: drop .7s linear both;
  }
  h1{
    animation: index 1.5s linear both .9s,shanshuo 4s linear infinite 2.2s alternate;
  }
  .my-pic img{
    animation: xuanzhuan 12s linear infinite .1s;
  }
}


#section2{
  .globle-wrapper{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    transition: all .5s ease;
    @media screen and(max-width: 735px){
      width: 500px;
      height: 500px;
    }
  }
  .globle-wrap{
    @extend %zhanman;
    background: url(../images/stars2.svg) center center no-repeat;
    background-size: 100%;
    @extend %center;
  }
  .globle-wrap-inner{
    @extend %zhanman;
    background: url(../images/stars3.svg) center center no-repeat;
    background-size: 100%;
    @extend %center;
  }
  .globle-outer{
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: 1px dashed #fff;
    margin: 50px auto;
    position: relative;
    transition: all .5s ease;
    .globle-inner{
      width: 70%;
      height: 70%;
      @extend %center;
      background: #102133;
      border-radius: 50%;
    }
    .line{
      width: 10px;
      height: 450px;
      position: absolute;
      top: 0;
      left: 445px;
      z-index: 3;
      transform-origin: bottom center;
      @media screen and(max-width: 735px){
        height: 200px;
        left: 195px;
      }
      .circle{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        margin-top: -7px;
        @media screen and(max-width: 735px){
          width: 5px;
          height: 5px;
        }
      }
    }
    @media screen and(max-width: 735px){
      width: 400px;
      height: 400px;
    }
    .globle-center{
      width: 90%;
      height: 90%;
      border: 1px dashed #fff;
      border-radius: 50%;
      margin: 5% auto;
    }
  }
  .globle-content{
    width: 50%;
    height: 35%;
    visibility: visible;
    text-align: center;
    @extend %center;
    z-index: 5;
    .my-info{
      margin-top: 50px;
      padding-left: 100px;
      @media screen and(max-width: 735px){
        height: 0;
        opacity: 0;
        transition: height .8s ease,opacity .8s ease;
        margin-top: 0;
        overflow: hidden;
        padding-left: 0;
      }
      span{
        text-align: left;
        display: block;
        color: #fff;
        font-family: "font normal";
        margin-top:10px;
        font-size: 20px;
        letter-spacing: .2px;
        transition: background .5s ease;
        @media screen and (max-width: 735px){
          height: 30px;
          font-size: 13px;
          background: #0D6A86;
          line-height: 30px;
          border-radius: 5px;
          padding-left: 15px;
          &:hover{
            background: #ab2907;
          }
        }
      }
    }
    .iconfont{
      height: 30px;
      position: relative;
      line-height: 30px;
      color: #5788f5;
      font-size: 24px;
      display: none;
      @media screen and(max-width: 735px){
        display: block;
      }
    }
    .iconfont label{
      display: block;
      width: 100%;
      height: 100%;
      @extend %center;
    }
    .globle-title{
      color: #fdc12d;
      font-family: "font xieti";
      font-size: 40px;
      font-weight: bold;
      @media screen and(max-width: 735px){
        font-size: 30px;
      }
    }
    .globle-desc{
      margin: 30px 0;
      color: #00C6FF;
      font-size: 25px;
      font-family: "font normal";
      @media screen and(max-width: 735px){
        font-size: 20px;
      }
    }
  }
  @media screen and(max-width: 735px){
    #info:checked + .my-info{
      opacity: 1;
      height: 180px;
    }
  }
}

#section2,#section2.active{
  .iconfont{
    animation: shanshuo 3s linear infinite;
  }
  .globle-wrap{
    animation: xuanzhuan 30s infinite linear;
  }
  .globle-outer{
    .line1{
      animation: xuanzhuan 15s infinite linear;
    }
    .line2{
      animation: xuanzhuan1 5s infinite linear;
    }
  }
}

@keyframes fangda{
  0%{
    transform: scale(1,1);
  }
  100%{
    transform: scale(1.15,1.15);
  }
}

@keyframes fangda1{
  0%{
    transform: scale(1,1);
  }
  100%{
    transform: scale(1.02,1.02);

  }
}

#section3,#section4,#section5{
  h3{
    font-size: 43px;
    color: #fff;
    font-family: "font bold";
    text-align: center;
    margin-bottom: 30px;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 2s linear;
    @media screen and(max-width: 735px){
      font-size: 30px;
    }
  }
}
#section3{
  .rhombs{
    width: 100%;
    margin-top: 100px;
    padding: 0 10px;
  }
  @for $i from 1 to 4{
    .rhombs-lists .rhombs-item:nth-child(#{$i}){
      transition: opacity .5s linear $i*0.5s;
    }
  }
  .rhombs .rhombs-lists{
    width: 100%;
    &:after{
      @extend %clear;
    }
    .rhombs-item{
      width: 250px;
      height: 250px;
      border: 3px solid #fff;
      float: left;
      margin-left: 140px;
      transform: rotate(45deg);
      position: relative;
      opacity: 0;
      @media screen and(max-width: 735px){
        float: none;
        margin: 0 auto;
      }
    }
    .rhombs-item .flipper{
      @extend %zhanman;
      background: rgba(24, 176, 181, 0.12);
      @extend %center;
      animation: fangda .9s linear .6s infinite alternate;
    }
    .rhombs-item .flipper1{
      @extend %zhanman;
      @extend %center;
      background: rgba(150,150,150,0.15);
      animation: fangda .9s linear infinite alternate;
    }
    .rhombs-item .front,.rhombs-item .back{
      @extend %center;
    }
    .front-content,.back-content{
      width: 250px;
      height: 250px;
      transform: rotate(-45deg);
    }
    .rhombs-item .front{
      background: #041527;
      z-index: 2;
      opacity: 1;
      transition: all .8s ease;
      transform-origin: 50% bottom ;
      &:hover{
        transform: rotateY(.5turn) translateZ(1px);
        opacity: 0;
      }
    }
    .rhombs-item .back{
      background: #fff;
      z-index: 1;
    }
    .back-content{
      text-align: center;
      padding: 50px 0;
      box-sizing: border-box;
      h5{
        font-size: 30px;
        line-height: 30px;
        padding: 10px 0;
        color: #00C6FF;
        font-family: "font bold";
      }
      .basic-info{
        margin-top: 5px;
      }
      .basic-info span{
        color: #8a8a8a;
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}

#section3.active,#section4.active,#section5.active{
  h3{
    transform: translateX(0);
    opacity: 1;
  }
  .rhombs .rhombs-lists .rhombs-item{
    opacity: 1;
  }
}

#section4{
  .skills-wrap{
    width: 100%;
  }
  .skills-wrap .skills-lists{
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    &:after{
      @extend %clear;
    }
  }
  .skills-lists .skills-item:nth-child(2n+1) {
    .circle-wrap .circle-inner,.skills-info .skills-bar .skills-current{
      background: #45C3E6;
    }
  }
  .skills-lists .skills-item:nth-child(2n) {
    .circle-wrap .circle-inner,.skills-info .skills-bar .skills-current{
      background: #15488E;
    }
  }
  @for $i from 1 to 9{
    .skills-lists .skills-item:nth-child(#{$i}){
      transition: all .3s linear $i*0.3s;
    }
  }
  .skills-lists .skills-item{
    width: 33.3333%;
    height: 120px;
    float: left;
    margin-top: 50px;
    transform: translateY(100%);
    opacity: 0;
    padding-right: 10px;
    box-sizing: border-box;
    @media screen and(max-width: 1080px){
      width: 50%;
      margin-top: 20px;
    }
    @media screen and(max-width: 730px){
      width: 100%;
    }

    .circle-wrap{
      width: 120px;
      height: 120px;
      border: 2px dashed #fff;
      border-radius: 50%;
      position: relative;
      float: left;
    }
    .circle-wrap .circle-inner{
      width: 85%;
      height: 85%;
      margin: 7.5% auto;
      box-sizing: border-box;
      border-radius: 50%;
      background-size: 100%;
      color: #fff;
      font-family: "font bold";
      line-height: 102px;
      text-align: center;
    }
    .circle-wrap .line{
      width: 20px;
      height: 60px;
      position: absolute;
      top: 0;
      left: 50px;
      transform-origin: 50% bottom;
      animation: xuanzhuan 5s infinite linear;
      .huojian{
        width: 20px;
        height: 20px;
        background: url(../images/huojian.png) center center no-repeat;
        background-size: 100%;
        margin-top: -11px;
        transform: rotate(90deg)
      }
    }
    .skills-info{
      margin-left: 20px;
      width: 60%;
      height: 100%;
      float: left;
    }
    .skills-info .skills-bar{
      width: 100%;
      height: 10px;
      margin: 55px 0;
      background: #505050;
      border-radius: 60px;
      .skills-current{
        width: 0;
        height: 100%;
        border-radius: 50px;
        transition: width .8s ease 1.9s;
      }
    }
  }
}


#section4.active{
  .skills-lists .skills-item{
    transform: translateX(0);
    opacity: 1;
  }
  .skills-wrap .skills-lists .skills-item .skills-info .skills-bar .skills-current{
    width: 85%;
  }
}


#section5{
  .show-wrap{
    width: 100%;
    margin-top: 100px;
  }
  .show-wrap .show-lists{
    &:after{
      @extend %clear;
    }
    .show-item{
      width: 20%;
      float: left;
      position: relative;
      overflow: hidden;
      transform: scale(0,0);
      opacity: 0;
      @media screen and(max-width: 1080px){
        width: 33.333%;
        height: 220px;
        line-height: 250px;
      }
      @media screen and(max-width: 735px){
        width: 50%;
        height: 250px;
        line-height: 250px;
      }
    }
    .show-item .show-img{
       img{
         width: 100%;
         transition: transform 1.5s ease-out;
       }
    }
    .show-item .zhezhao{
      @extend %zhanman;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.5);
      text-align: center;
      line-height: 80px;
      transform: scale(1,1);
      transition: all 1s ease;
      span{
        color: #fff;
        font-family: "苹方";
        letter-spacing: .3px;
        padding: 0 20px;
      }
    }
    .show-item:hover {
      img{
        transform: scale(1.15,1.15);
      }
      .zhezhao{
        background: rgba(9, 31, 79,.9);
        transform: scale(.8,.8);
      }
    }
  }

  @for $i from 1 to 12{
    .show-wrap .show-lists .show-item:nth-child(#{$i}){
     transition: all .2s ease $i*0.5s;
    }
  }
}


#section5.active{
  .show-wrap .show-lists .show-item{
     transform: scale(1,1);
     opacity: 1;
  }
}
